
/Bookie/Bookie.xcodeproj/project.xcworkspace/xcuserdata
/BookieApp/BookieApp.xcodeproj/project.xcworkspace/xcuserdata
/BookieApp/BookieApp.xcodeproj/project.xcworkspace/xcuserdata/dam2.xcuserdatad
BookieApp/BookieApp.xcodeproj/project.xcworkspace/xcuserdata/dam2.xcuserdatad/UserInterfaceState.xcuserstate
